<!-- <!DOCTYPE html>
<html>
<head>
    <title>Add Train</title>
</head>
<body>

<h2>Add Train</h2>

<form method="POST">
    {% csrf_token %}

    <label>Train Number</label><br>
    <input type="text" name="train_no" value="12657"><br><br>

    <label>Train Name</label><br>
    <input type="text" name="train_name" value="Bengaluru Express"><br><br>

    <label>Source</label><br>
    <input type="text" name="source" value="Chennai"><br><br>

    <label>Destination</label><br>
    <input type="text" name="destination" value="Bengaluru"><br><br>

    <label>Departure Time</label><br>
    <input type="time" name="departure_time" value="06:00"><br><br>

    <label>Arrival Time</label><br>
    <input type="time" name="arrival_time" value="11:30"><br><br>

    <label>AC Price</label><br>
    <input type="number" name="ac_price" value="950"><br><br>

    <label>Sleeper Price</label><br>
    <input type="number" name="sl_price" value="350"><br><br>

    <label>AC Seats</label><br>
    <input type="number" name="ac_seats" value="72"><br><br>

    <label>Sleeper Seats</label><br>
    <input type="number" name="sl_seats" value="150"><br><br>

    <button type="submit">Add Train</button>

</form>

</body>
</html> -->